<!-- meta tags -->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ site.description }}" />
<meta name="keywords" content="Leipzig, Gentrifizierung, Reurbanisierung, Re-Urbanisierung, Verdrängung, Mieter, Vermieter" />

<!-- favicon -->
<link rel="icon" href="{% asset favicon.ico @path %}" type="image/x-icon">
<link rel="shortcut icon" href="{% asset favicon.ico @path %}" type="image/x-icon">
<link rel="shortcut icon" href="{% asset favicon.ico @path %}" type="image/vnd.microsoft.icon">

<!-- Facebook OG Tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}" />
<meta property="og:url" content="{{ page.url | prepend: site.url }}" />
<meta property="og:site_name" content="einundleipzig">
<meta property="og:description"
      content="{% if page.description %}{{ page.description }}{% else %} {{ site.description }} {% endif %}" />
<meta property="og:image" name="facebook"
      content="http://www.einundleipzig.de{% if page.image %}{{ page.image }}{% else %}{% asset einundleipzigfacebook.jpg @path %}{% endif %}" />
<meta property="og:locale" content="de_DE" />

<!-- Twitter Card Tags -->
<meta name="twitter:site" content="@einundleipzig" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}" />
<meta name="twitter:description"
      content="{% if page.description %}{{ page.description }}{% else %} {{ site.description }} {% endif %}" />
<meta name="twitter:image"
      content="http://www.einundleipzig.de{% if page.image %}{{ page.image }}{% else %}{% asset einundleipzigtwitter.jpg @path %}{% endif %}" />

<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

<link type="text/css" rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/videojs-sublime-skin@1.0.3/dist/videojs-sublime-skin.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.0/dist/jquery.min.js"></script>

<!-- Custom CSS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-sass@3.4.1/assets/javascripts/bootstrap.min.js"></script>
{% asset einundleipzig.css %}

<!-- ekko-lightbox -->
<link type="text/css" rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/ekko-lightbox@3.3.0/dist/ekko-lightbox.min.css">
{% asset ekko-lightbox-dark.css %}

{% for script in page.scripts %}
  {% if script == 'video.js' %}
    <!-- video.js - has to be loaded in head of page due to performance -->
    <script src="https://cdn.jsdelivr.net/npm/video.js@4.8.5/dist/video-js/video.min.js"></script>
    <script>
      videojs.options.flash.swf = "https://cdn.jsdelivr.net/npm/videojs-swf@4.4.5/dist/video-js.swf"
    </script>
    {% endif %}
{% endfor %}

<!-- d3js JavaScript - has to be loaded in head of page -->
<script src="https://cdn.jsdelivr.net/npm/d3@3.5.14/d3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/colorbrewer@1.3.0/index.min.js"></script>

<!-- c3.js -->
<script src="ttps://cdn.jsdelivr.net/npm/c3@0.7.11/c3.min.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/c3@0.7.11/c3.min.css">
