<nav class="navbar navbar-default navbar-fixed-top shadow" role="navigation">
	<div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
      <a href="{{ site.url }}" class="navbar-brand">
        <img src="{% asset logogross.png @path %}" style="height: 40px;" class="vcenter img-responsive" alt="einundleipzig Logo" />
      </a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Wissenschaft <b class="caret"></b></a>
          <ul class="dropdown-menu">
          {% for item in site.menu %}
            {% for categories in item.categories %}
            {% if categories == 'wissenschaft' %}
            <li>
              <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
         </li>

        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle">Geschichten <b class="caret"></b></a>
          <ul class="dropdown-menu">
          {% for item in site.menu %}
            {% for categories in item.categories %}
            {% if categories == 'geschichten' %}
            <li>
              <a href="{{ item.url | prepend: site.baseurl }}">{{ item.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
          {% endfor %}
          </ul>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="{{ site.baseurl }}{% link blog/index.html %}">
            Blog
          </a>
        </li>
        <li>
          <a href="{{ site.baseurl }}{% link data/index.html %}">
            Daten &nbsp;&nbsp; <i class="fa fa-lg fa-database"></i>
          </a>
        </li>
      </ul>
    </div>
	</div>
</nav>

<div style="height: 50px;">&nbsp;</div>
