<!-- meta tags -->
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="{{ site.description }}" />
<meta name="keywords" content="Leipzig, Gentrifizierung, Reurbanisierung, Re-Urbanisierung, Verdrängung, Mieter, Vermieter" />

<!-- favicon -->
<link rel="icon" href="{% asset favicon.ico @path %}" type="image/x-icon">
<link rel="shortcut icon" href="{% asset favicon.ico @path %}" type="image/x-icon">
<link rel="shortcut icon" href="{% asset favicon.ico @path %}" type="image/vnd.microsoft.icon">

<!-- Facebook OG Tags -->
<meta property="og:type" content="website" />
<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}" />
<meta property="og:url" content="{{ page.url | prepend: site.url }}" />
<meta property="og:site_name" content="einundleipzig">
<meta property="og:description"
      content="{% if page.description %}{{ page.description }}{% else %} {{ site.description }} {% endif %}" />
<meta property="og:image" name="facebook"
      content="http://www.einundleipzig.de{% if page.image %}{{ page.image }}{% else %}{% asset einundleipzigfacebook.jpg @path %}{% endif %}" />
<meta property="og:locale" content="de_DE" />

<!-- Twitter Card Tags -->
<meta name="twitter:site" content="@einundleipzig" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}" />
<meta name="twitter:description"
      content="{% if page.description %}{{ page.description }}{% else %} {{ site.description }} {% endif %}" />
<meta name="twitter:image"
      content="http://www.einundleipzig.de{% if page.image %}{{ page.image }}{% else %}{% asset einundleipzigtwitter.jpg @path %}{% endif %}" />

<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

<script type="text/javascript" src="{% asset bundle.js @path %}" charset="utf-8"></script>

<!-- Custom CSS -->
{% asset einundleipzig.css %}
