<div class="videocontent fade-in-element">
<video id="{{ include.id }}" class="video-js vjs-sublime-skin vjs-big-play-centered" controls preload="none" width="auto" height="auto" poster="{% asset {{include.poster}} @path %}" data-setup='{"controls": true, "autoplay": false, "preload": "none"}'

{% if include.iframe %}
style="position: relative !important;"
{% endif %}
>

	{% if include.webm %}<source src="{% asset {{include.webm}} @path %}" type='video/webm' />{% endif %}
	{% if include.mp4 %}<source src="{% asset {{include.mp4}} @path %}" type='video/mp4' />{% endif %}
	<p class="vjs-no-js no-comment">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>
</div>
