.navbar-brand {
  padding: 5px;
  padding-right: 20px;
}

.navbar-nav > li > a:not(.social) {
  font-size: 9pt;
  font-family: $font-stack-sans-alt;

  text-transform: uppercase;
}

@media(min-width: $grid-float-breakpoint) {
  .navbar-toggle {
    display: none !important;
  }

  .navbar-nav {
    &.navbar-right:last-child {
      // Bootstrap fix
      margin-right: 15px;
    }

    > li {
      display: inline-block;

      > a:not(.social) {
        transition: all ease-in-out .3s;

        &:hover {
          background-color: #E7E7E7 !important;
        }

        .active {
          background-color: #E7E7E7;
        }
      }
    }
  }
}

.dropdown-menu {
  font-family: $font-stack-sans-alt;
  border-color: #E7E7E7;
}
