/*-----------------------------------------------------------------------------------*/
/* define variables
/*-----------------------------------------------------------------------------------*/
// font variables

$font-stack-serif: "Merriweather", serif;
$font-stack-sans: "Titillium Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-stack-sans-alt: "Helvetica Neue", Helvetica, Arial, sans-serif;
$bold: 700;
$semibold: 600;
$regular: 400;
$light: 300;

$font-size-smaller: 10pt;
$font-size-small: 11pt;
$font-size-regular: 12pt;
$font-size-large: 14pt;
$font-size-larger: 15pt;

// color variables
$einundleipzig_cyan: #009fe3;
$einundleipzig_cyan-dark: #006F9F;

$einundleipzig_yellow: #ffed00;
$einundleipzig_yellow-dark: #C5B700;

$einundleipzig_magenta: #e6007e;
$einundleipzig_magenta-dark: #D10072;

$einundleipzig_green: #96c11f;
$einundleipzig_green-dark: #769C0E;

$lighter-grey: #999;
$light-grey: #666;

$dark-grey: #333;
$darker-grey: #222;

// overwrite nav collapse
$grid-float-breakpoint: 992px;

/*-----------------------------------------------------------------------------------*/
/* load files
/*-----------------------------------------------------------------------------------*/

$icon-font-path: "bootstrap/";
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-sprockets';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

@import 'bourbon/bourbon/bourbon';

@import 'bourbon-bitters/base/base';

$fa-font-path: "font-awesome/";
@import "font-awesome";
@import 'general';

@import 'navigation';

@import 'sidenav';

@import 'pages';

@import 'posts';
