---
layout: default
---
<section> 
	<article class="post no-comment">
		{% if page.category %}
			<p class="type">
				{{ page.category }}
			</p>
		{% endif %}
	  
		<h1>
			{{ page.title }}
		</h1>
		
		{% if page.image %}
			<img src="{{page.image}}" class="img-responsive" style="padding-bottom: 35px;" />
		{% endif %}
		
		{% if page.description %}
			<h2>
				{{ page.description }}
			</h2>
		{% endif %}
	  
		<time>
			{% assign m = page.date | date: "%-m" %}
			{{ page.date | date: "%-d" }}.
			{% case m %}
			  {% when '1' %}Januar
			  {% when '2' %}Februar
			  {% when '3' %}M&auml;rz
			  {% when '4' %}April
			  {% when '5' %}Mai
			  {% when '6' %}Juni
			  {% when '7' %}Juli
			  {% when '8' %}August
			  {% when '9' %}September
			  {% when '10' %}Oktober
			  {% when '11' %}November
			  {% when '12' %}Dezember
			{% endcase %}
			{{ page.date | date: "%Y" }} 
			von
			{% assign author = site.authors[page.author] %}
			{{ author.display_name }}
		</time>
		
		{{ content | markdownify }}
							
	</article>

	<div class="clearfix">&nbsp;</div>

	<article class="comments">
		{% include comments.html %}
	</article>
</section>

<p class="rss-subscribe no-comment"><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="fa fa-rss-square"></i> RSS</a></p>
			
			
<div class="clearfix">&nbsp;</div>		