name: build site

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: set up Ruby 2.6
        uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.6.x
      - name: install bundler & dependencies
        run: |
          sudo gem install bundler -v '2.1.2'
          sudo bundle install --jobs 4 --retry 3
      - name: build site
        run: |
          sudo bundle exec rake build
