name: Build Jekyll site

on:
  # Runs on pushes targeting the default branch
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN
permissions:
  contents: read

jobs:
  # Build job
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Ruby
        uses: ruby/setup-ruby@v1.267.0
        with:
          bundler-cache: true
          cache-version: 0
      - name: Build with Jekyll
        run: |
          yarn install --frozen-lockfile
          bundle exec bourbon install --path _sass/bourbon
          bundle exec bitters install --path _sass/bourbon-bitters
          bundle exec jekyll build --baseurl "${{ steps.pages.outputs.base_path }}"
        env:
          JEKYLL_ENV: production
